<!-- hot sale top products starts -->







<div class="wrapper">
    <div class="container">
        <div class="row">

            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 pt-3">
                <!-- HOT SALE -->
                <div class="p-0">
                    <h3 class="fw-bold">HOT SALE</h3>
                </div>

                <div class="desh my-3">
                </div>

                <div class="d-flex my-5">
                    <div>
                        <img style="width: 80px;height: 80px;"
                            src="https://tse3.mm.bing.net/th?id=OIP.bz2GLA4I4PnqgMCSn_ls7AHaHa&pid=Api&P=0&h=220"
                            alt="">
                    </div>
                    <div class="mx-3">
                        <div>CAR CHARGER SAMPLE</div>
                        <div>$ 110.00</div>
                        <div>
                            <i class="fa fa-star green-text" aria-hidden="true"></i>
                            <i class="fa fa-star green-text" aria-hidden="true"></i>
                            <i class="fa fa-star green-text" aria-hidden="true"></i>
                            <i class="fa fa-star green-text" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o green-text" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>

                <div class="d-flex my-5">
                    <div style="background-color: whitesmoke;">
                        <img style="width: 80px;height: 80px;"
                            src="http://pluspng.com/img-png/lcd-png-monitor-png-image-1760.png"
                            alt="">
                    </div>
                    <div class="mx-3">
                        <div>LED PRODUCT SAMPLE</div>
                        <div>$ 110.00</div>
                        <div>
                            <i class="fa fa-star green-text" aria-hidden="true"></i>
                            <i class="fa fa-star green-text" aria-hidden="true"></i>
                            <i class="fa fa-star green-text" aria-hidden="true"></i>
                            <i class="fa fa-star green-text" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o green-text" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>

                <div class="d-flex my-5">
                    <div style="background-color: whitesmoke;">
                        <img style="width: 80px;height: 80px;"
                            src="https://tse4.mm.bing.net/th?id=OIP.TW7jXvrxzGIqtlTA16ht5wHaFa&pid=Api&P=0&h=220"
                            alt="">
                    </div>
                    <div class="mx-3">
                        <div>ROUTER PRODUCT SAMPLE</div>
                        <div>$ 110.00</div>
                        <div>
                            <i class="fa fa-star green-text" aria-hidden="true"></i>
                            <i class="fa fa-star green-text" aria-hidden="true"></i>
                            <i class="fa fa-star green-text" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o green-text" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o green-text" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>

            </div>


            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 pt-3">
                <!-- HOT SALE -->
                <div class="p-0">
                    <h3 class="fw-bold">TOP RATED</h3>
                </div>

                <div class="desh my-3">
                </div>

                <div class="d-flex my-5">
                    <div style="background-color: whitesmoke;">
                        <img style="width: 80px;height: 80px;"
                            src="https://tse2.mm.bing.net/th?id=OIP.1xdUFM3LnIHqpRjTICwfjAHaC9&pid=Api&P=0&h=220"
                            alt="">
                    </div>
                    <div class="mx-3">
                        <div>PS5 PRODUCT SAMPLE</div>
                        <div>$ 110.00</div>
                        <div>
                            <i class="fa fa-star-o green-text" aria-hidden="true"></i>
                            <i class="fa fa-star-o green-text" aria-hidden="true"></i>
                            <i class="fa fa-star-o green-text" aria-hidden="true"></i>
                            <i class="fa fa-star-o green-text" aria-hidden="true"></i>
                            <i class="fa fa-star-o green-text" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>

                <div class="d-flex my-5">
                    <div style="background-color: whitesmoke;">
                        <img style="width: 80px;height: 80px;"
                            src="https://www.pngmart.com/files/7/PS4-PNG-HD.png"
                            alt="">
                    </div>
                    <div class="mx-3">
                        <div>PS4 PRODUCT SAMPLE</div>
                        <div>$ 110.00</div>
                        <div>
                            <i class="fa fa-star green-text" aria-hidden="true"></i>
                            <i class="fa fa-star green-text" aria-hidden="true"></i>
                            <i class="fa fa-star green-text" aria-hidden="true"></i>
                            <i class="fa fa-star-o green-text" aria-hidden="true"></i>
                            <i class="fa fa-star-o green-text" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>

                <div class="d-flex my-5">
                    <div style="background-color: whitesmoke;">
                        <img style="width: 80px;height: 80px;"
                            src="https://tse4.mm.bing.net/th?id=OIP.RX99DGoYUE_H3T60Lww-FQHaFM&pid=Api&P=0&h=220"
                            alt="">
                    </div>
                    <div class="mx-3">
                        <div>GENERATOR SAMPLE</div>
                        <div>$ 110.00</div>
                        <div>
                            <i class="fa fa-star green-text" aria-hidden="true"></i>
                            <i class="fa fa-star green-text" aria-hidden="true"></i>
                            <i class="fa fa-star green-text" aria-hidden="true"></i>
                            <i class="fa fa-star green-text" aria-hidden="true"></i>
                            <i class="fa fa-star green-text" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>

            </div>




            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 pt-3">
                <!-- HOT SALE -->
                <div class="p-0">
                    <h3 class="fw-bold">POLULAR</h3>
                </div>

                <div class="desh my-3">
                </div>

                <div class="d-flex my-5">
                    <div style="background-color: whitesmoke;">
                        <img style="width: 80px;height: 80px;"
                            src="http://pluspng.com/img-png/png-gadgets-the-latest-high-tech-gadgets-coming-your-way-660.png"
                            alt="">
                    </div>
                    <div class="mx-3">
                        <div>PS5 PRODUCT SAMPLE</div>
                        <div>$ 110.00</div>
                        <div>
                            <i class="fa fa-star green-text" aria-hidden="true"></i>
                            <i class="fa fa-star green-text" aria-hidden="true"></i>
                            <i class="fa fa-star green-text" aria-hidden="true"></i>
                            <i class="fa fa-star green-text" aria-hidden="true"></i>
                            <i class="fa fa-star-o green-text" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>

                <div class="d-flex my-5">
                    <div style="background-color: whitesmoke;">
                        <img style="width: 80px;height: 80px;"
                            src="http://pluspng.com/img-png/watch-png-hd-watch-free-download-png-png-image-2000.png"
                            alt="">
                    </div>
                    <div class="mx-3">
                        <div>WATCH PRODUCT SAMPLE</div>
                        <div>$ 110.00</div>
                        <div>
                            <i class="fa fa-star green-text" aria-hidden="true"></i>
                            <i class="fa fa-star green-text" aria-hidden="true"></i>
                            <i class="fa fa-star green-text" aria-hidden="true"></i>
                            <i class="fa fa-star green-text" aria-hidden="true"></i>
                            <i class="fa fa-star-o green-text" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>

                <div class="d-flex my-5">
                    <div style="background-color: whitesmoke;">
                        <img style="width: 80px;height: 80px;"
                            src="https://tse4.mm.bing.net/th?id=OIP.rRAN-_-LES4FI3GEOsBj2AHaHa&pid=Api&P=0&h=220"
                            alt="">
                    </div>
                    <div class="mx-3">
                        <div>SMARTWATCH PRODUCT SAMPLE</div>
                        <div>$ 110.00</div>
                        <div>
                            <i class="fa fa-star green-text" aria-hidden="true"></i>
                            <i class="fa fa-star green-text" aria-hidden="true"></i>
                            <i class="fa fa-star-o green-text" aria-hidden="true"></i>
                            <i class="fa fa-star-o green-text" aria-hidden="true"></i>
                            <i class="fa fa-star-o green-text" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>

            </div>



            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 pt-3">
                <!-- HOT SALE -->
                <div class="p-0">
                    <h3 class="fw-bold">BEST CHOICE</h3>
                </div>

                <div class="desh my-3">
                </div>

                <div class="d-flex my-5">
                    <div style="background-color: whitesmoke;">
                        <img style="width: 80px;height: 80px;"
                            src="http://www.pngmart.com/files/13/Smartwatch-PNG-Image.png"
                            alt="">
                    </div>
                    <div class="mx-3">
                        <div>SMARTWATCH PRODUCT SAMPLE</div>
                        <div>$ 110.00</div>
                        <div>
                            <i class="fa fa-star green-text" aria-hidden="true"></i>
                            <i class="fa fa-star green-text" aria-hidden="true"></i>
                            <i class="fa fa-star green-text" aria-hidden="true"></i>
                            <i class="fa fa-star green-text" aria-hidden="true"></i>
                            <i class="fa fa-star-o green-text" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>

                <div class="d-flex my-5">
                    <div style="background-color: whitesmoke;">
                        <img style="width: 80px;height: 80px;"
                            src="https://tse1.mm.bing.net/th?id=OIP.oDkSycTQA8pezGkXHGhbbQHaE8&pid=Api&P=0&h=220"
                            alt="">
                    </div>
                    <div class="mx-3">
                        <div>MOTOR PRODUCT SAMPLE</div>
                        <div>$ 110.00</div>
                        <div>
                            <i class="fa fa-star green-text" aria-hidden="true"></i>
                            <i class="fa fa-star green-text" aria-hidden="true"></i>
                            <i class="fa fa-star green-text" aria-hidden="true"></i>
                            <i class="fa fa-star green-text" aria-hidden="true"></i>
                            <i class="fa fa-star green-text" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>

                <div class="d-flex my-5">
                    <div style="background-color: whitesmoke;">
                        <img style="width: 80px;height: 80px;"
                            src="https://tse1.mm.bing.net/th?id=OIP.ynPzkgDD5QYtAsHQ4Ee0jQAAAA&pid=Api&P=0&h=220"
                            alt="">
                    </div>
                    <div class="mx-3">
                        <div>CYLYNDER PRODUCT SAMPLE</div>
                        <div>$ 110.00</div>
                        <div>
                            <i class="fa fa-star green-text" aria-hidden="true"></i>
                            <i class="fa fa-star green-text" aria-hidden="true"></i>
                            <i class="fa fa-star green-text" aria-hidden="true"></i>
                            <i class="fa fa-star-o green-text" aria-hidden="true"></i>
                            <i class="fa fa-star-o green-text" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- hot sale top products end -->